<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Agence</a>
      <a mat-list-item href="#">projetos</a>
      <a mat-list-item href="#">administrativo</a>
      <a mat-list-item href="#">Comercial</a>
      <a mat-list-item href="#">Financiero</a>
      <a mat-list-item href="#">Usuario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Banco Union</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
