<h2>{{title}}</h2>
<table mat-table [dataSource]="items" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition"
   os: string,
  nf: number,
  emissao: string,
  total: number,
  liquido: number,
  comisio: number-->

  <!--  SistemaWeb Column -->
  <ng-container matColumnDef="noSistema">
    <th mat-header-cell *matHeaderCellDef> SistemaWeb</th>
    <td mat-cell *matCellDef="let element"> {{element.noSistema}} </td>
  </ng-container>


  <!--  OS Column -->
  <ng-container matColumnDef="os">
    <th mat-header-cell *matHeaderCellDef> OS</th>
    <td mat-cell *matCellDef="let element"> {{element.os}} </td>
  </ng-container>

  <!-- NF Column-->
  <ng-container matColumnDef="nf">
    <th mat-header-cell *matHeaderCellDef> NF </th>
    <td mat-cell *matCellDef="let element"> {{element.nf}} </td>
  </ng-container>

  <!-- Emissao Column -->
  <ng-container matColumnDef="emissao">
    <th mat-header-cell *matHeaderCellDef> Emissao </th>
    <td mat-cell *matCellDef="let element"> {{element.emissao}} </td>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="liquido">
    <th mat-header-cell *matHeaderCellDef> Liquido </th>
    <td mat-cell *matCellDef="let element"> {{element.liquido}} </td>
  </ng-container>


  <!-- Comissao Column -->
  <ng-container matColumnDef="comissao">
    <th mat-header-cell *matHeaderCellDef> Comissao </th>
    <td mat-cell *matCellDef="let element"> {{element.comissao}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Pie de tabla -->
  <ng-container matColumnDef="Total">
    <th mat-footer-cell *matFooterCellDef colspan="1">Total: {{caoDesempenhoTotal.totalSum}}</th>
  </ng-container>

  <ng-container matColumnDef="totalLiquido">
    <th mat-footer-cell *matFooterCellDef colspan="2">Total Liquido: {{caoDesempenhoTotal.totalLiquido}}</th>
  </ng-container>

  <ng-container matColumnDef="comissaoTotal">
    <th mat-footer-cell *matFooterCellDef colspan="3">Total comissao: {{caoDesempenhoTotal.totalComissao}}</th>
  </ng-container>

  <tr mat-footer-row *matFooterRowDef="['Total','totalLiquido','comissaoTotal']"></tr>
</table>
